body {
font-family: "Roboto", sans-serif;
background-color #FFFFFF;
color: #2E2F42;
}

.link {
text-decoration: none;
}

ul {
  list-style: none;
}

/* Хедер */

.subject-list .link {
font-weight: 500;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
}

.subject-list:hover,
.header-list:focus{
color: #404BBF;
}

.subject-address {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}

.subject-address:hover, 
.subject-address:focus{
color: #404BBF;
}

.subject-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1,3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.subject-logo span {
  font-size: 18px;
  line-height: 1,3px;
  color: #2E2F42;
  }

/* Головне меню */

.heading {
background: #2E2F42;
font-weight: 700;
font-size: 56px;
line-height: 1,07;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.heading-btn{
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff;
cursor: pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
padding: 16px 32px;
}

.heading-btn:hover,
.heading-btn:focus{
background: #404BBF
}

.aside-btn{
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
width: 78px;
height: 48px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
flex: none;
order: 2;
flex-grow: 0;
color: #4D5AE5;

}

.aside-btn:hover,
.aside-btn:focus{
background: #404BBF;
color: #FFFFFF;

}

.headline {
font-weight: 700;
font-size: 36px;
line-height: 1,1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.subtitle{
font-weight: 700;
font-size: 36px;
line-height: 1,1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

/* Футер */

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1,16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1,16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer{
background: #2E2F42;
}
.footer-text {
  color: #E7E9FC;
}
